---
import './Home.scss';
import Anchor from '@components/atoms/Anchor/Anchor.astro';
import { getContactsData, getPageData } from '@database/request';
import Icon from '../../atoms/Icon/Icon.astro';

const { data } = await getPageData('home');
const { data: contacts } = await getContactsData();
---

<section id='home' class='container--main'>
  <div class='hero'>
    <div class='hero__content'>
      <h1 class='hero__title'>
        {data.title}
      </h1>
      <h2 class='hero__subtitle text--h3 flicker-animation'>
        {data.subtitle}
      </h2>
      <div class='hero__contact'>
        {
          contacts?.map(item => {
            return (
              <a
                href={item?.href}
                target='_blank'
                rel='noopener noreferrer'
                class='hero__contact--link'
                type={`hero-${item?.name}`}
              >
                <Icon modifier={item?.name} className='hero__contact--icon' />
              </a>
            );
          })
        }
      </div>
      <Anchor
        href='#about'
        className='hero__cta text--general blink-animation selected flicker'
      >
        Click anywhere to start
      </Anchor>
    </div>
    <span class='hero__border'></span>
  </div>
</section>

<script>
  import { showToast } from '../../providers/ToastProvider';

  window.addEventListener('DOMContentLoaded', () => {
    const hero = document.getElementById('home');
    hero?.addEventListener('click', e => {
      const target = e.target as HTMLElement;
      if (!target.classList.contains('hero__contact--icon')) {
        setTimeout(() => {
          window.location.href = '#about';
        }, 100);
      }
    });

    const emailBtn = document.querySelector("[type='hero-email']");
    emailBtn?.addEventListener('click', e => {
      e.preventDefault();
      e.stopPropagation();

      const target = e.currentTarget as HTMLAnchorElement;
      const href = target.getAttribute('href');
      navigator.clipboard.writeText(href?.replace('mailto:', '') || '');
      showToast('Email copied to clipboard!');
    });
  });
</script>
